<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.werb.gankwithzhihu">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:name=".MyApp"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Splash-->
        <activity android:name=".ui.activity.SplashActivity"
            android:theme="@style/FullWindowTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.MainActivity"
            android:theme="@style/MainTheme"/>

        <!--ZhihuWeb-->
        <activity android:name=".ui.activity.ZhihuWebActivity"
            android:theme="@style/MainTheme"/>

        <!--PicActivity-->
        <activity android:name=".ui.activity.PictureActivity"
            android:theme="@style/MainTheme"/>

        <!--GankActivity-->
        <activity android:name=".ui.activity.GankActivity"
            android:theme="@style/MainTheme"/>

        <!--GankWebActivity-->
        <activity android:name=".ui.activity.GankWebActivity"
            android:theme="@style/MainTheme"/>

        <!--DailyFeed-->
        <activity android:name=".ui.activity.DailyFeedActivity"
            android:theme="@style/MainTheme"/>

        <!--AboutMe-->
        <activity android:name=".ui.activity.AboutMeActivity"
            android:theme="@style/MainTheme"/>

    </application>

</manifest>